################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheDeliciousFoodPlace
/TheDeliciousFoodPlace/bin/Debug
/TheDeliciousFoodPlace/obj/Debug
